{% extends "base.html" %}

{% block title %}
{{ content.hireUsFormFirstName }}
{% endblock %}

{% block body %}

<div class="container mt-5">
    <h1>{{ content.hireUsFormFirstName }}</h1>

    <div class="alert alert-info">
        <p> Контактные данные </p>
        <p>{{ content.hireUsFormLasttName }}</p>
        <p>{{ content.hireUsFormWorkEmail }}</p>
        <p>{{ content.hireUsFormPhone }}</p>
        <p>{{ content.hireUsFormDetails }}</p>
        <p><b>{{ content.date.date() }}</b></p>

    </div>


</div>
{% endblock %}

